.form-input{
  background-color:transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #FF9933;
  color:white !important;
}

input[type="text"]:focus{
  background-color:transparent;
  border-bottom: 1px solid #FF9933;
  outline:none;
}

::placeholder{
  color:white !important ;
}
